<thead>
<tr class="queueHeader">
<td colspan="2"><span class="fileNotice"><?php echo JText::_( 'COM_KOMENTO_FORM_UPLOAD_QUEUE_TITLE_FILE_QUEUE' ); ?> <b class="fileCounter">0</b> / <@= maxcounter @> [ <?php echo JText::_( 'COM_KOMENTO_FORM_MAXIMUM_FILES_ALLOWED' ); ?> ] </span></td>
</tr>
<tr class="queueHeader queue-title">
	<th><?php echo JText::_( 'COM_KOMENTO_FORM_UPLOAD_QUEUE_TITLE_FILENAME' ); ?></th>
	<th class="text-center"><?php echo JText::_( 'COM_KOMENTO_FORM_UPLOAD_QUEUE_TITLE_SIZE' ); ?></th>
</tr>
</thead>
